<div class="container">
  <ass-wish-form (addWish)="items.push($event)"></ass-wish-form>

  <div class="row mt-3">
    <!-- <div class="col-sm-2">
      <select class="form-select" [(ngModel)]="listFilter">
        <option value="0">All</option>
        <option value="1">Unfulfilled</option>
        <option value="2">Fulfilled</option>
      </select>
    </div> -->
    <wish-filter (filter)="filter = $event"></wish-filter>
  </div>

  <wish-list-comp [wishes]="visibleItems"></wish-list-comp>

  <!-- <div>{{items[0].wishText}}</div> -->
</div>